/* ------------- IMPORTED FONTS --------------------------- */

/*-------------- CSS RESET ---------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- ROOT VARIABLES --------------------------- */

:root {
	font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    --teele: #007d7b;
    --black: #000000;
    --white: #ffffff;
}
/* ------------- GLOBAL STYLES (mobile first/small) --------*/
* {
    
}

body{
    min-width: 485px; 
    background-color: #000000;
}

header {
    text-align: center;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #007d7b;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
	padding: 1rem;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 0rem;
    font-weight: bold;
	padding: 1rem;
}

nav a {
    font-size: 1.5em;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
	color:#007d7b;
}

#myBtn{
	position: fixed;
    bottom: 10px;
    right: 10px;
	padding: 1rem 1.5rem;
}

main {
    background-color: #ffffff;
    padding: 1rem;
}

h2{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

p {
    font-size: 1.25em;
}

#about p{
	padding: 1.5rem;
}

figcaption, label, input, small {
    font-size: 1em;
}

#photos {
    text-align: center;
}

img {

}

figcaption {
	position:relative;
	bottom: 80px;
	color: #ffffff;
	margin:1rem 8rem;
	padding: 0.5rem 1rem;
}

.top {
	bottom: 300px;
}


#contact{
	color:white;
    text-align:center
}

#contact h3 {
    display: none;
}

#contact p {
	padding-bottom: 2rem;
}

form {
    text-transform:uppercase;
}

label {
	font-weight: bold;
}

input {
	margin-bottom: 1rem;
}

#name, #email, #message {
	color: #007d7b;
	text-transform: uppercase;
    font-weight: bold;
    width: 500px;
    padding: 0.5rem;
}

#submit {
	background-color: #007d7b;
	color: #ffffff;
	text-transform: uppercase;
    border-radius: 25px;
    width: 450px;
}

footer {
	text-align: center;
    padding-top:3rem;
}

small {
	color:#ffffff;
    text-transform: uppercase;
    padding: 1rem;
}


/*-------------- MEDIA QUERY (medium) ----------------------*/
@media screen and (min-width:880px) {

    body {
        min-width: 880px;
    }

    h1 {
		display:grid;
		grid-template-columns:1fr 1fr;
		justify-content:left;
        width: 115%;
	}

    #photos {
		display:grid;
		grid-template-columns: 1fr 1fr;
	}

}

/*-------------- MEDIA QUERY (large) -----------------------*/
@media screen and (min-width:1300px) {
    body {
        min-width: 1300px;
    }

    header {
        justify-content: right;
    }

    #photos {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

}